body {
    font-family: system-ui;
    background: #ffffe0;
    color: black;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.zoomable-image {
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
}

.zoomed {
    cursor: zoom-out;
}